/*****************======================================================*****************
                                    CUSTOM STYLES STYLESHEET
                                            V1.0.0
******************======================================================******************/



/*=========================================================================
                                        GENERAL STYLES
===========================================================================*/
html, body {
  height: 100%;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

/*select element*/
.custom-select {
  width: 170px !important;
  padding: .375rem .75rem;
}

.to--label {
  width: auto;
  padding: .375rem .75rem;

}

#input--value {
  width: 100px !important;
  margin: 0 auto;
}

.conversion--form {
  display: block;
  text-align: center;
}

.form-inline .form-group {
  display: block;
  margin-bottom: 1rem;
}

.conversion--container {
  padding: 5rem 2rem;
}

.results--container {
  width: 15rem;
  margin: 1.5rem auto;
  padding: 2rem 2rem;
  text-align: center;
  border: 2px solid grey;
}

#submit-btn {

}

@media screen and (min-width: 800px) {
  .conversion--form {
    display: flex;
    text-align: unset;
    justify-content: center;
  }

  .form-inline .form-group {
    display: flex;
    margin-bottom: 0;
  }
}